<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th>Продукт</th>
      <th>Магазин</th>
      <th>Изготовлено</th>
      <th>Годен до</th>
      <th>Кол-во</th>
      <th>Цена</th>
      <th>Доступен</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    {% for s in stocks %}
    {% with b=s.batch %}
    <tr class="{% if b.is_expired %}table-danger{% elif b.is_expiring_critical %}table-warning{% endif %}">
      <td>{{ b.product.name }}</td>
      <td>{{ s.store.name }}</td>
      <td>{{ b.production_date }}</td>
      <td>{{ b.expiration_date }}</td>
      <td>{{ s.quantity }} {{ s.batch.product.get_unit_display }}</td>
      <td>{{ b.price }} ₽</td>
      <td>{% if b.is_available %}✅{% else %}❌{% endif %}</td>

      <td class="text-end">
        <a href="{% url 'batch_update' b.pk %}" class="btn btn-sm btn-warning">✏️</a>
        <a href="{% url 'batch_delete' b.pk %}" class="btn btn-sm btn-danger">🗑️</a>
      </td>
    </tr>
    {% endwith %}
    {% empty %}
    <tr><td colspan="8" class="text-center text-muted">Нет записей</td></tr>
    {% endfor %}
  </tbody>
</table>